* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* Common Styles */
.btn {
  border-radius: 8px;
  background: #e55473;
  padding: 8px 15px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}
.featured,
.instagram-info {
  text-align: center;
  margin: 150px 0 45px 0;
}
.feature-title,
.instagram-title,
.footer-title {
  color: #272727;
  margin-bottom: 24px;
  font-family: Lato;
  font-size: 40px;
  font-weight: 700;
}
.feature-description,
.instagram-description,
.footer-description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}
.btn:hover {
  background-color: #272727;
  color: #ffffff;
  cursor: pointer;
}
/* Header Styles Starts */
header {
  background-color: rgba(229, 84, 115, 0.1);
}
.banner-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 100px;
  position: relative;
}
.banner-text {
  margin-top: 100px;
}
.banner-text h1 {
  color: #272727;
  font-family: Lato;
  font-size: 60px;
  font-weight: 700;
}
.banner-text p {
  width: 50%;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  padding: 28px 0;
}
.banner-img img {
  width: 500px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0px;
  padding-right: 100px;
}

/* Header Styles Ends */
/* Feature Styles Starts */

.feature-all-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.feature-img1 {
  background-color: rgba(167, 33, 98, 0.15);
}
.feature-img2 {
  background-color: rgba(5, 151, 160, 0.15);
}
.feature-img3 {
  background-color: rgba(71, 125, 17, 0.15);
}
.feature-img {
  border-radius: 150px 150px 0 0;
  padding: 50px;
  padding-bottom: 0;
  height: 350px;
}
.feature-img img {
  width: 200px;
}
.flower-text {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
}
/* Feature Styles Ends */
/* Day delivery Starts */
.delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  width: 70%;
  margin: auto;
  margin-top: 100px;
}
.same,
.fresh,
.support {
  text-align: center;
}
.delivery-text {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
}
/* Day delivery Ends */
/* Hot Deals Styles Starts */
.deals-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding: 70px 200px;
}
.deal-title {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.deal-off,
.flower {
  color: #e55473;
}
.deal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 400;
}
.deal-btn {
  text-align: center;
}
.deals-img img {
  width: 250px;
}
/* Hot Deals Styles Ends */
/* Instagram Styles Starts */
.instagram-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.instagram-container img {
  width: 230px;
}
/* Instagram Styles Ends */
/* Get The Latest Deals Styles Starts */
.latest-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/Rectangle 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 70%;
  margin: 100px auto;
  padding: 100px;
  border-radius: 8px;
}
.latest-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
.latest-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}
input[type="email"] {
  border-radius: 8px;
  background: #fff;
  padding: 12px;
  margin-right: 10px;
  border: 0;
}
/* Get The Latest Deals Styles Ends */
/* Footer Styles */
footer {
  background-color: #111010;
  color: rgba(255, 255, 255, 0.40);
  text-align: center;
  padding: 200px 0 50px 0;
}
.footer-title{
    /* color: #ffffff; */
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    margin-bottom: 5px;
}
